<div class="background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
        <div class="form">

          <h1>The email with the recipe has been sent</h1>

          <%= link_to "Search for another cocktail", root_path, class: "btn" %>

        </div>
      </div>
    </div>
  </div>
</div>
