<div class="background">
  <div class="container">
    <h1>Need a recipe for your favorite cocktail?</h1>

  <%= simple_form_for (@cocktail) do |f| %>
      <%= f.input :name, :label => "Cocktail Name" %>
      <%= f.input :email %>
      <%= f.submit 'Click for Cocktail!', class: "btn btn-primary" %>
    <% end %>
  </div>


</div>
