<div class="background">
  <div class="container">
    <h1>Input the name of your favorite Cocktail!</h1>

  <%= simple_form_for (@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.submit 'Click for Cocktail!', class: "btn btn-primary" %>
    <% end %>
  </div>


</div>
