<div class="background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
        <div class="form">

          <h1>This Cocktail Doesn't Exist</h1>

          <%= link_to "Try Again", root_path, class: "btn" %>


        </div>
      </div>
    </div>
  </div>
</div>
