<h1>Input the name of your favorite Cocktail!</h1>

<%= simple_form_for :mail, url: mail_path, method: :get do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.submit 'Click for Cocktail!' %>
<% end %>
