<h1>Input the name of your favorite Cocktail!</h1>

<form action="/mail" method="get">
  <input type="text" name="name" placeholder="type in cocktail">
  <input type="text" name="email" placeholder="type in your email">
  <input type="submit">
</form>
